<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Свети мученик Бонифатије</string>
	<string>Св. Игњатије Богоносац; Св. Данило, Други Арх. српски (Претпразништво Рождества) - Оци</string>
	<string>Света мученица Јулијана</string>
	<string>Света великомученица Анастасија</string>
	<string>Светих 10 мученика Критских</string>
	<string>Света преподобномученица Евгенија - Бадњи данe</string>
	<string>+++ РОЖДЕСТВО ХРИСТОВО - БОЖИЋ</string>
	<string>+++ САБОР ПРЕСВЕТЕ БОГОРОДИЦЕ</string>
	<string>+++ СВЕТИ ПРВОМУЧЕНИК И АРХИЂАКОН СТЕФАН</string>
	<string>Светих 20.000 мученика Никомидијских</string>
	<string>Светих 14.000 младенаца Витлејемских</string>
	<string>Света мученица Анисија</string>
	<string>Преподобна Меланија</string>
	<string>+++ ОБРЕЗАЊЕ ГОСПОДЊЕ; СВ. ВАСИЛИЈЕ ВЕЛИКИ (НОВА ГОДИНА)</string>
	<string>Преп. Серафим Саровски</string>
	<string>Свети пророк Малахија</string>
	<string>Сабор 70 светих апостола</string>
	<string>Свети Теопемт и Теона - Крстовдан</string>
	<string>+++ БОГОЈАВЉЕЊЕ</string>
	<string>+++ САБОР СВЕТОГ ЈОВАНА КРСТИТЕЉА - ЈОВАЊДАН</string>
	<string>Св. муч. Јулијан и Василиса</string>
	<string>Свети мученик Полиевкт</string>
	<string>Свети Григорије Ниски</string>
	<string>Преподобни Теодосије Велики</string>
	<string>Света мученица Татијана</string>
	<string>Свети мученици Ермил и Стратоник (Оданије Богојављења)</string>
	<string>+++ СВЕТИ САВА - ПРВИ АРХИЕПИСКОП СРПСКИ</string>
	<string>Преподобни Павле</string>
	<string>Часне вериге Светог aпостола Петра</string>
	<string>Преподобни Антоније Велики</string>
	<string>Свети Атанасије Велики</string>
</array>
</plist>
