<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Свети свештеномученик Патрикије</string>
	<string>Свети мученик Талалеј</string>
	<string>+++ СВЕТИ ЦАР КОНСТАНТИН И ЦАРИЦА ЈЕЛЕНА</string>
	<string>Свети мученик Јован Владимир</string>
	<string>Преподобни Михајло Исповедник</string>
	<string>Преподобни Симеон Дивногорац</string>
	<string>Треће обретење главе светог Јована Крститеља</string>
	<string>Свети апостол Карп и Алфеј</string>
	<string>Свети свештеномученик Терапонт</string>
	<string>Преподобни Никита Исповедник</string>
	<string>Преподобномученица Теодосија Тирска - Летње (духовске) задушнице</string>
	<string>Преподобни Исакије Далматски</string>
	<string>Свети апостол Јерма; Свети мученик Ермије</string>
	<string>Свети мученик Јустин Философ; Свети Јустин Поповић</string>
	<string>Свети мученик Никифор</string>
	<string>Свети мученик Лукилијан</string>
	<string>Свете Марта и Марија</string>
	<string>Свети свештеномученик Доротеј-Преподобни Петар Коришки</string>
	<string>Преподобни Висарион и Иларион Нови (Петровске Покладе)</string>
	<string>Свети свештеномученик Теодор Анкирски (Почетак поста)</string>
	<string>Свети великомученик Теодор Стратилат</string>
	<string>Свети Кирило Александријски</string>
	<string>Свети свештеномученик Тимотеј Бруски</string>
	<string>Свети апостоли Вартоломеј и Варнава</string>
	<string>Преподобни Онуфрије Велики</string>
	<string>Света мученица Акилина</string>
	<string>Свети пророк Јелисеј</string>
	<string>+++СВ. МУЧЕНИК КНЕЗ ЛАЗАР И СВ. СРПСКИ МУЧЕНИЦИ - ВИДОВДАН</string>
	<string>Свети Тихон Аматунски Чудотворац</string>
	<string>Свети мученици Мануил, Савел и Исмаил</string>
</array>
</plist>
